<div class='button-container'>
  <button id='viewAllButton' class='feature-button'>View All Novels</button>
  <button id='createButton' class='feature-button'>Create Novel</button>
  <button id='yourLibButton' class='feature-button'>Your library</button>
</div>
