<h1>Mis Novelas</h1>
<p>Aquí está la lista de Novelas</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>Add</th>
      <!-- New column for action buttons -->
    </tr>
  </thead>
  <tbody>
    {{#each novels}}
      <tr>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td><span class='{{statusClass}}'>{{status}}</span></td>
        <td><button class='add-button'>Add</button></td>
        <!-- Button in each row -->
      </tr>
    {{/each}}
  </tbody>
</table>
