<h1>Mis Novelas</h1>

<p>Aqui esta la lista de Novelas</p>
<ul>

</ul>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Completado</th>
    </tr>
  </thead>
  <tbody>
    {{#each novels}}
      <tr>
        <td>{{title}}</td>
        <td>{{author}}</td>

      </tr>
    {{/each}}
  </tbody>
</table>
