.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; /* Adjust this value based on your layout */
}

.feature-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #6242f4; /* Button background color */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.feature-button:hover {
    background-color: #5038e2; /* Darker shade for hover */
}
